.card-deck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 5px;
  margin-left: 5px;
}
.card.card-custom {
  border-radius: 30px;
  border: none;
  transition: transform 0.25s;
  height: 170px;
  justify-content: center;
  padding: 60px;
}
.card.card-custom:hover {
  transform: scale(1.1);
}
.card-title {
  text-align: center;
  font-size: 18px;
  font-family: "Hind", sans-serif;
}

#forecast-desc {
  font-weight: bold;
}
#forecast-desc:first-letter {
  text-transform: capitalize;
}
#forecast-body {
  padding: 0%;
}
.temp.temp-high {
  font-weight: bold;
}
.temp-wrapper {
  text-align: center;
  font-size: 17px;
  font-family: "Hind", sans-serif;
  margin-bottom: 20px;
}
